body{
    margin: 0;
    padding: 0;
    background: url(./wp9661638.webp);
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {

    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }
    .navbar {

        display: flex;
        
        align-items: center;
        
        justify-content: space-between;
        
        padding: 2px;
        
        background-color: rgb(41, 15, 211);
        
        color: rgba(255, 255, 255, 0.858);
        
        }
        
        .nav-links a {
        
        color: rgba(255, 255, 255, 0.895);
        
        }
        
       
        
        
        
        /* NAVBAR MENU */
        
        .menu {
        
        display: flex;
        
        gap: 17rem;
        
        font-size: 15px;
        
        }
        
        .menu li:hover {
        
        background-color: #7d83f1;
        
        border-radius: 3px;
        
        transition: 0.3s ease;
        
        }
        
        /* .menu li {
        
       
        
        } */
        /*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{

    display: none;
    
    } 
    
    /*HAMBURGER MENU*/
    
    .hamburger {
    
    display: none;
    
    font-size: 24px;
    
    user-select: none;
    
    }
    
    /* APPLYING MEDIA QUERIES */
    
    @media (max-width: 768px) {
    
    .menu { 
    
    display:none;
    
    position: absolute;
    
    background-color:rgb(63, 68, 211);
    
    right: 0;
    
    left: 0;
    
    text-align: center;
    
    padding: 16px 0;
    
    }
    
    .menu li:hover {
    
    display: inline-block;
    
    background-color:#867bed;
    
    transition: 0.3s ease;
    
    }
    
    .menu li + li {
    
    margin-top: 12px;
    
    }
    
    input[type=checkbox]:checked ~ .menu{
    
    display: block;
    
    }
    
    .hamburger {
    
    display: block;
    
    }
}
#sticky{
    position: sticky;
}
html {
    scroll-behavior: smooth;
}